#navbar {
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;

    &__container {
        width: 100%;
        height: 5rem;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include container;

         @include screen(small){
            box-shadow: 0 2px 7px rgba(27, 27, 27, 0.459);
            height: 4.4rem;
            z-index: 500;
            width: 100%;
            overflow: hidden;
            background-color: $color-primary;
         }

        #section-header {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 12px;

            @include screen(small){
                gap: 2%;
            }

            .logo {
                img {
                    width: 80px;
                    object-fit: cover;

                    @include screen(small){
                        width: 72px;
                    }
                }
            }

            .social-icons {
                display: flex;
                gap: 8px;

                .icon {

                    img {
                        width: 34px;
                        object-fit: cover;

                        @include screen(small){
                            width: 31px;
                        }
                    }
                }
            }
        }

        #menu-items {
            display: flex;
            height: 100%;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                gap: 38px;
                margin-bottom: 0;

                li {
                    color: $color-white;
                    font-size: 15px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    white-space: nowrap;
                }

                #cart {
                    margin-top: -3px;
                    position: relative;
                    left: -14px;

                    img {
                        width: 33px;
                        object-fit: contain;
                    }
                }

                #order {
                    position: relative;
                    left: -25px;
                    padding-left: 23px;
                    padding-right: 23px;
                    background-color: $color-secondary;
                    color: $color-primary;
                    font-family: $font-cardo;
                    font-weight: 600;
                }
            }
        }
    }
}