#menu-responsive {
    position: fixed;
    background-color: #0d2958;
    z-index: 100;
    display: none;
    display: flex;
    height: 100vh;
    justify-content: center;

    ul {
        display: flex;
        overflow: hidden;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;
        margin-top: 30px;
        margin-left: 0;
        padding-left: 0;

        li {
            color: $color-white;
            font-size: 15.6px;
            padding-top: 8px;
            padding-bottom: 5px;
            white-space: nowrap;
            font-weight: 600;
        }

        #cart {
            margin-top: -3px;

            img {
                width: 33px;
                object-fit: contain;
            }
        }

        #order {
            padding-left: 33px;
            padding-right: 33px;
            background-color: $color-secondary;
            color: $color-primary;
            font-family: $font-cardo;
        }
    }
}

.menu-icon {
    height: 100%;
    display: flex;
    align-items: center;

    #menu-icon {
        font-size: 20px;
        padding: 8px;
        border: 3px solid $color-secondary;
        border-radius: 50%;
        color: $color-secondary;
    }
}

#overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.658);
}

.open-menu {
    width: 100%;
    transition: 0.3s;

    @include screen(medium) {
        width: 50%;
    }
}

.close-menu {
    width: 0;
    transition: 0.3s;
}