    #callout {
        width: 100%;
        overflow: hidden;
        height: max-content;
        background-color: $color-primary;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include container;

        @include screen(small){
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @include screen(medium){
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .section-header {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                h3 {
                    color: $color-white;
                    font-family: $font-cardo;
                    font-weight: 600;
                }

                .line {
                    width: 50px;
                    margin-top: 0.8rem;
                    height: 2px;
                    background-color: $color-secondary;
                }
            }

            .text {
                margin-top: 1rem;

                p {
                    color: $gris;
                }
            }

            .button{

                .btn{
                    padding-left: 35px;
                    padding-right: 35px;
                    border: 2px solid $color-secondary;
                    border-radius: 0;
                    color: #fff;
                    font-family: $font-cardo;
                    font-weight: 600;
                }
            }

        }

        .section-cover{
            width: 100%;
            height: 100%;

             img{
                width: 100%;
                height: 100%;
                object-fit: contain;
             }
        }
    }