@import "./settings";
@import "./container";

/*home styles*/
@import "./Home/Navbar/Navbar.scss";
@import "./Home/home.scss";
@import "./Home/welcoming/welcoming.scss";
@import "./Home/auth-book/auth-books.scss";
@import "./Home/about/about.scss";
@import "./Home/about/about.scss";