#welcoming-page {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    top: 5rem;
    background-color: $color-primary;
    @include container;

    @include screen(small) {
        height: max-content;
        width: 100%;
        top: 0;
        margin-top: 4.4rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .section-header {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include screen(small){
            height: max-content;
        }

        .subtitle {
            margin-left: 38px;

            h5 {
                color: $color-white;
                font-family: $font-cardo;
                font-style: italic;
            }

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 1px;
                margin-top: 10px;
                margin-left: -39px;
                background-color: $color-secondary;
            }
        }

        .title {

            h1 {
                color: $color-white;
                font-family: $font-cardo;
                font-size: 3em;
                font-weight: 700;

                @include screen(small) {
                    font-size: 33px;
                }

                @include screen(medium){
                    font-size: 40px;
                }
            }
        }

        .text {
            p {
                color: $color-white;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .btn {
                padding-top: 10.5px;
                padding-bottom: 10.5px;
                font-family: $font-cardo;
                color: $color-primary;
                font-weight: 600;

                @include screen(small) {
                    white-space: nowrap;
                }
            }

            #btn-1 {
                background-color: $color-secondary;
                padding-left: 36px;
                padding-right: 36px;
                border-radius: 0;

                @include screen(small) {
                    padding-left: 24px;
                    padding-right: 24px;
                }
            }

            #btn-2 {
                color: $color-white;
                font-weight: 600;

                &::after {
                    content: "";
                    position: absolute;
                    width: 113px;
                    margin-top: 24px;
                    margin-left: -112px;
                    height: 1.3px;
                    background-color: $color-white;
                }
            }
        }

        .details {
            width: 100%;
            display: flex;
            gap: 55px;
            flex-wrap: wrap;

            @include screen(small){
                gap: 45px;
            }

            @include screen(medium){
                gap: 24px;       
            }

            .point {
                display: flex;
                gap: 14px;

                @include screen(small){
                    margin-top: -5px;
                }

                .content {
                    h5 {
                        font-family: $font-cardo;
                        font-weight: 600;
                        color: $color-white;
                    }

                    p {
                        color: $color-white;
                    }
                }
            }
        }
    }

    .section-cover {
        width: 100%;
        height: 87vh;
        display: flex;
        align-items: center;

        @include screen(small){
            height: max-content;
        }

        img {
            width: 100%;
            height: 92%;
            object-fit: contain;

            @include screen(small){
                height: 80%;
            }
        }
    }
}