#navbar {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;

    &__container {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include container;

        #section-header {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 12px;

            .logo {
                img {
                    width: 80px;
                    object-fit: cover;
                }
            }

            .social-icons {
                display: flex;
                gap: 8px;

                .icon {

                    img {
                        width: 34px;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }
            }
        }

        #menu-items {
            display: flex;
            height: 100%;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                gap: 38px;
                margin-bottom: 0;

                li {
                    color: $color-white;
                    font-size: 15px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                #cart {
                    margin-top: -3px;
                    position: relative;
                    left: -14px;

                    img {
                        width: 33px;
                        object-fit: contain;
                    }
                }

                #order {
                    position: relative;
                    left: -25px;
                    padding-left: 23px;
                    padding-right: 23px;
                    background-color: $color-secondary;
                    color: $color-primary;
                    font-family: $font-cardo;
                }
            }
        }
    }
}