#about {
    width: 100%;
    overflow: hidden;
    height: max-content;
    background-color: #F4F8FF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    @include container;

    .section-cover {
        width: 90%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .section-content {
        margin-left: 40px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include screen(small) {
            margin-left: 0;
        }

        .title {
            h3 {
                color: $color-primary;
                font-family: $font-cardo;
                font-weight: 600;
            }

            .line {
                width: 50px;
                margin-top: 0.8rem;
                height: 2px;
                background-color: $color-secondary;
            }
        }

        .text {
            margin-top: 1.3rem;

            p {
                color: $gris;
            }
        }

        .counter {
            display: flex;
            flex-direction: row;

            .item {
                margin-top: 1rem;

                @include screen(small) {
                    padding-top: 17px;
                }
        

                h1 {
                    font-family: $font-cardo;
                    color: $color-primary;
                    font-weight: 600;
                }

                p {
                    color: $gris;
                }
            }

            #count-1 {
                padding-right: 30px;

                @include screen(small) {
                    padding-right: 20px;
                }
        
            }

            #count-2 {
                padding-left: 30px;
                padding-right: 25px;
                border-right: 1px solid $color-secondary;
                border-left: 1px solid $color-secondary;

                @include screen(small) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
        
            }

            #count-3 {
                padding-left: 30px;

                @include screen(small) {
                    padding-left: 20px;
                }
        
            }
        }   

        .details {
            width: max-content;
            background-color: $color-primary;
            margin-top: 1.4rem;
            display: flex;
            gap: 11px;

            @include screen(small){
                margin-top: 2rem;
                width: 100%;
            }

            @include screen(medium) {
               width: 100%;
            }

            .img {
                width: 33%;
                padding: 10px;
                height: 100%;
                display: flex;
                align-items: center;

                @include screen(medium) {
                    width: 30%;
                }

                @include screen(small) {
                    display: none;
                }        

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .header{
                width: 67%;
                height: 100%;
                padding: 16px 9px 16px 9px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include screen(medium) {
                     width: 95%;
                }

                @include screen(small) {
                    width: 100%;
                    gap: 8px;
                    padding: 16px 18px 16px 18px;
                }        

                 h6{
                    color: $color-secondary;
                    font-family: $font-cardo;
                    font-weight: 600;
                 }

                 p{
                    color: $gris;
                    margin-bottom: 0;
                 }
            }
        }
    }
}