#chapter {
    width: 100%;
    overflow: hidden;
    background-color: #F4F8FF;
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include container;

    .section-header {
        text-align: center;

        h3 {
            color: $color-primary;
            font-family: $font-cardo;
            font-weight: 600;
        }

        .line {
            width: 40px;
            margin: 0.8rem auto;
            height: 2px;
            background-color: $color-secondary;
        }
    }

    .section-content {
        margin-top: 2.4rem;

        .box {
            width: 100%;
            height: max-content;
            background-color: $color-white;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(141, 140, 140, 0.164);
            padding: 34px;

            &__title {

                h5 {
                    margin-bottom: 0;
                    color: $color-primary;
                    font-weight: 600;
                    font-family: $font-cardo;
                }
            }

            &__text {
                margin-top: 14px;

                p {
                    color: $gris;
                    margin-bottom: 0;
                }
            }

            &__points {
                margin-top: 22px;
                width: 100%;
                white-space: nowrap;

                .content {
                    display: flex;
                    gap: 14px;
                    width: 100%;
                    white-space: nowrap;

                    h5 {
                        margin-bottom: 0;
                        color: $color-primary;
                        font-weight: 600;
                        font-family: $font-cardo;
                    }

                    p {
                        color: $gris;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .section-button{
        width: 33%;
        margin: 4rem auto;

         .button{

            .btn{
                width: 100%;
                background-color: $color-secondary;
                border-radius: 0;
                font-family: $font-cardo;
                height: 50px;
                font-weight: 600;
                color: $color-primary;
            }
         }

         .text{
            text-align: center;

            p {
                color: $gris;
                margin-bottom: 0;

                 b{
                    color: $color-primary;
                    text-decoration: underline;
                 }
            }
         }
    }

}